/* * {
  background-color: rgba(255, 0, 0, 0.2);
}
* * {
  background-color: rgba(0, 255, 0, 0.2);
}
* * * {
  background-color: rgba(0, 0, 255, 0.2);
}
* * * * {
  background-color: rgba(255, 0, 255, 0.2);
}
* * * * * {
  background-color: rgba(0, 255, 255, 0.2);
}
* * * * * * {
  background-color: rgba(255, 255, 0, 0.2);
}
* * * * * * * {
  background-color: rgba(255, 0, 0, 0.2);
}
* * * * * * * * {
  background-color: rgba(0, 255, 0, 0.2);
}
* * * * * * * * * {
  background-color: rgba(0, 0, 255, 0.2);
} */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.flex-one {
  flex-grow: 1;
}
.gameBox {
  border: 1px solid black;
  padding: 3px;
  display: flex;
  flex-direction: column;
}
.gameBox--title {
  /* flex-grow: 1; */
}
.gameBox--row2 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.gamebox--platform {
  display: block;
}
.gamebox--year {
  /* flex-grow: 1; */
  display: block;
}
